body{
    background-color: #eee;
}
.box{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 5px;
    border-top: solid 0px ;
}

.header{
padding: 10px;
border-bottom: solid 1px #eee;
}

.content{
    padding: 10px;
}

.footer{
    padding: 10px;
    border-top: solid 1px #eee;

}

.primary{
    padding: 5px;
    border: 0px;
    background-color: #0090ff;
    color: #fff;
}
.secondary{
    padding: 5px;
    border: 0px;
    background-color: #aaa;
    color: #fff;
}