body{
    background-color: #eee;
}

ul{
    /* oculta los puntos de la lista */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li{
    float:left;
    /* padding: 10px; */
}

li a{
    /* display block en combinacion con float ajusta el size de la caja  */
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(247, 140, 10);
}

.active{
    background-color: rgb(21, 157, 230);
}

/* Desplazamos el contenido el size requerido este depende del <ul> size */
.content{
    margin-top: 48px;
}
